<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>BNDS Python</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link rel="stylesheet" type="text/css" href="../static/semantic.css">
      <script type="text/javascript" src="../static/semantic.js"></script>
   </head>
   <body>
      <div class="ui container">
         <div class="ui secondary menu">
            <a class="header item">
            VexBoard
            </a>
            <a class="item active">
            Home
            </a>
            <a class="item">
            Messages
            </a>
            <a class="item">
            Friends
            </a>
            <div class="right menu">
               <a class="ui item">
               Logout
               </a>
            </div>
         </div>
         <div class="ui two column centered grid">
            <div class="column">
               <div class="ui piled segment">
                  <h2 class="ui header">Login</h2>
                  {% if error %}
                  <p class="error"><strong>Error:</strong>{{ error }}{% endif %}</p>
                  <form action="{{ url_for('login') }}" method="post">
                     <center>
                        <div class="ui labeled input">
                           <div class="ui label">
                              Username
                           </div>
                           <input type="text" name="username" placeholder="Enter your username">
                        </div>
                        <br><br>
                        <div class="ui labeled input">
                           <div class="ui label">
                              Password
                           </div>
                           <input type="password" name="password" placeholder="Enter you password">
                        </div>
                        <br><br>
                        <input class="ui button" type="submit" name="login">
                     </center>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>