<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login|VexBoard</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script type="text/javascript" src="../static/semantic.js"></script>
</head>
<body>
<div class="ui container">
    <div class="ui secondary menu">
        <a class="header item" href="{{ url_for('dbmanager.show_entries') }}">
            VexBoard
        </a>
        <a class="item active" href="{{ url_for('dbmanager.show_entries') }}">
            Home
        </a>

        <div class="right menu">
            {% if not session.logged_in %}
            <a class="ui item" href="{{ url_for('register') }}">register</a>
            <a class="ui item" href="{{ url_for('login') }}">log in</a>
            {% else %}s
            <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
        </div>
    </div>
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui piled segment">
                <h2 class="ui header">Hi, welcome to VexBoard! <br>Please <a class="ui item"
                                                                             href="{{ url_for('login') }}">login</a> or
                    <a class="ui item" href="{{ url_for('register') }}">register</a>!</h2>

            </div>
        </div>
    </div>
</div>
</body>
</html>